<!DOCTYPE html>
<html lang="en">

<%- include("./components/Header.ejs")%>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-success position-absolute w-100"></div>
  <%- include("./components/SideBar.ejs")%>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <%- include("./components/TopBar.ejs")%>
    <!-- End Navbar -->
    <%- include("./page/Farmers/Farmers.ejs")%>
  </main>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2" style="background-color: #fff;">
      <i class="fa fa-cog py-2"> </i>
    </a>
    <%- include("./components/LeftSideBar.ejs")%>
  </div>
  <!--   Core JS Files   -->
  <%- include("./components/Scripts.ejs")%>
  <%- include("./page/Farmers/FarmersScript.ejs")%>
</body>

</html>